<%= form_with url: "/password/reset_password", method: :post do |form|%>
  <%= flash[:notice] %>
  <div class="title">Reset password</div> 
  <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user to signup:</h2>
        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
  <div class="field">
    <i class="fas fa-lock"></i>
    <%= form.label :password%>
    <%= form.password_field :password %>
  </div>
  <div class="field">
    <i class="fas fa-lock"></i>
    <%= form.label :confirmation_password%>
    <%= form.password_field :password_confirmation %>
  </div>
    <div>
      <%= form.submit "Reset Password" %>
    </div>
  <%= link_to "Login", account_login_path %>
<% end %>






